.app {
  &__header {
    position: relative;

    &-top {
      height: 50px;
      background-color: #2b3a67;
    }
    &-bottom {
      height: 19px;
      background-color: #66999b;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &-logo {
      position: absolute;
      top: 15px;
      left: 64px;
      cursor: pointer;
    }
  }

  &__footer {
    height: 70px;
    background-color: #2b3a67;
  }
}

.please {
  margin: 0 auto;
  /*  margin-bottom: 0;*/
  /*  white-space: pre-wrap;*/
  background-color: aquamarine;
  text-align: center;
  font-size: 19px;

}
